<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
         <link rel="icon" href="/image/weather.jpg">"
    <link rel="stylesheet" href="/css/style.css">
    </head>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
        <p>{{helptext}}</p>
        </div>
{{>footer}}
    </body>
</html