<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/image/weather.jpg">"
     <link rel="stylesheet" href="/css/style.css">
    </head>
    </head>
    <body>
        <div class="main-content"></div>
        {{>header}}
        <img class="portrait other" src="/image/img.jpg">
        <div>
        {{>footer}}
    </body>
</html>